
@{
    ViewBag.Title = "edituser";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<form style="margin-left: 5%;" action="~/Admin/UpdateUser/@Model.UserId" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Edit User</h4>
        <h6>@Model.UserName  @Model.UserSurname</h6>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="UserEmail" name="UserEmail" value="@Model.UserEmail" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="UserBonus" name="UserBonus" value="@Model.UserBonus" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="UserBalans" name="UserBalans" value="@Model.UserBalans" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "AdminUser")
</div>

